


  <div class="container">
    <a class="navbar-brand" routerLink="/students">List-student</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



 <div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="nom" [(ngModel)]="student.nom" placeholder="nom" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="prenom" [(ngModel)]="student.prenom" placeholder="prenom" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="classe" [(ngModel)]="student.classe" placeholder="classe" class="form-control" autofocus>        </div>
        <div class="form-group">
          <input type="text" name="cin" [(ngModel)]="student.cin" placeholder="cin" class="form-control" autofocus>        </div>
        
        <button class="btn btn-success btn-block" (click)="edit == true? updateStudent(student.Sid) : createStudent()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>









    

